body{
    margin: 0;
    font-family: sans-serif;
}
.top-bar{
    background-color: #000;
    padding: 5px;
}
.title{
    margin: 0;
    padding: 10px 0;
}
.title a{
    color: #FFF;
    margin: 0;
    text-decoration: none;
}

.rss-item{
    box-sizing: border-box;
    vertical-align: text-top;
    padding: 5px;
}
.rss-item .thumnbnail{
    float: left;
    margin-right: 5px;
}

.rss-item h4,.rss-item h4 a,.rss-item h6{
    color: #333;
    text-decoration: none;
    margin: 5px 0;
}

.rss-item .tags{
    margin-top: 10px;
    font-size: 10px;
}

.rss-item .tags .tag{
    background-color: #ff0000;
    color: #FFF;
    padding: 2px 5px;
    line-height: 2;
}

.rss-item .desc{
    height: auto;
    min-height: 95px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .rss-item{
        display: inline-block;
        width: 33%;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .rss-item{
        display: inline-block;
        width: 33%;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}